<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Aboutus</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="{{ url_for('static',filename='stylesheet.css') }}" rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Dhananjay</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarScroll"
          aria-controls="navbarScroll"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul
            class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
            style="--bs-scroll-height: 100px"
          >
            <li class="nav-item">
              <a class="nav-link" href="\index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="\index.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="\Dj.html">Dj.Dhanoo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="\Ragister.html">Ragister</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                More
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="\booking.html">Booking</a>
                </li>
                <li><a class="dropdown-item" href="\About.html">Aboutus</a></li>
                <li><a class="dropdown-item" href="\blogs.html">blog</a></li>
                <li>
                  <a class="dropdown-item" href="\project.html">project</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="Social_media.html">Streaming</a></li>
                <li>
                  <a class="dropdown-item" href="\achievement.html"
                    >Achievement</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>

    <div class="container">
      <br />
      <h1 center>ABOUT US</h1>
      <br />
      <br />
      <p>
      Dhananjay's website and application are designed to provide seamless
      backhand connectivity to its users. The sign-in page and register yourself
      options are provided to ensure that users can create their profiles and
      access exclusive content on the website.
      <br />
      <br />
      One of the primary features of Dhananjay's website is its ability to
      showcase information about his concerts and music tracks. Users can browse
      through the upcoming concerts and events, book tickets, and get access to
      exclusive backstage content. The website is regularly updated with the
      latest concert schedules, ensuring that users never miss out on any of
      Dhananjay's performances.
      <br />
      <br />
      In addition to this, the website also features Dhananjay's portfolio,
      highlighting his journey as a DJ and showcasing his achievements in the
      industry. Users can browse through his latest projects, view his work
      experience and learn about his creative process.
      <br />
      <br />
      Apart from the primary features, Dhananjay's website also hosts a range of
      blogs on research papers and projects. These blogs provide insights into
      his work and highlight his contributions to the field of music. Users can
      browse through the latest blogs and stay up-to-date with the latest
      research in the field.
      <br />
      <br />
      Overall, Dhananjay's website and application are a one-stop-shop for all
      music lovers. With its easy-to-use interface, seamless connectivity, and
      rich content, it is the perfect destination for anyone looking to explore
      the world of DJ Dhanoo.
      </p>
      <br />
      <br />
      <br />
        <h1>Dhananjay Sharma</h1>
        <p>Bioinformatican | Music Composer | Video Editor | Disco Jockey</p>
        <br />
        <br />
        <p>
          Dhananjay is a talented individual with diverse skills and expertise. He
          has a strong command over programming languages and is well-versed in
          various programming languages such as Python, Java, and C++. He is also
          familiar with web development technologies like HTML and CSS, which
          allows him to design and develop basic websites.
          <br />
          <br />
          Apart from his technical skills, Dhananjay has a keen interest in music
          and enjoys playing DJ in his spare time. He is a multitasker who can
          efficiently manage multiple tasks and projects simultaneously. His
          ability to juggle different responsibilities while ensuring high-quality
          work makes him an asset to any team.
          <br />
          <br />
          Dhananjay's primary domain of expertise is bioinformatics, which is the
          application of computer science and statistical methods to biological
          data. He has a deep understanding of the complex biological systems and
          how they can be analyzed and manipulated using computational tools. He
          is proficient in various bioinformatics tools and databases, such as
          BLAST, ClustalW, and GenBank, which enables him to handle complex
          biological data and derive meaningful insights.
          <br />
          <br />
          Overall, Dhananjay is a versatile and talented individual who is capable
          of managing technical projects, creating engaging websites, and
          entertaining as a DJ. His broad skill set and ability to multitask make
          him a valuable asset to any team or organization.
          <br />
          <br />
          Overall, Dhananjay is a talented and versatile individual with a unique
          combination of skills, including programming, web development, music,
          and bioinformatics. He is a dedicated and enthusiastic professional who
          is always willing to take on new challenges and deliver exceptional
          results.
        </p>
      <div>
    </div>
    <br>
      <footer>
      <div class="footer-content">
        <h3>Dhananjay Sharma</h3>
        <p>Social Media Presence</p>
        <ul class="socials">
          <li>
            <a href="https://www.linkedin.com/in/dhananjay-sharma-3b209a203"
              ><i class="fa fa-linkedin-square"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/xenophiliamee"
              ><i class="fa fa-github"></i
            ></a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCpIxQ7n1Vx0tzgQGHrECSeQ"
              ><i class="fa fa-youtube"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/creative__innerme/"
              ><i class="fa fa-instagram"></i
            ></a>
          </li>
          <li>
            <a href="https://www.facebook.com/dhananjay.sharma.7967"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a
              href="https://twitter.com/Dhananj68148058?t=cBPR39GAg_yi6SI326bIAw&s=09"
              ><i class="fa fa-twitter"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>copyright &copy; <a href="\Dj.html">Dj.Dhanoo</a></p>
        <div class="footer-menu">
          <ul class="f-menu">
            <li><a href="\index.html">Home</a></li>
            <li><a href="\About.html">About</a></li>
            <li><a href="booking.html">Signin</a></li>
            <li><a href="\blogs.html">Blog</a></li>
          </ul>
        </div>
      </div>
        </footer>
  </body>
</html>
