<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOME</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static',filename='stylesheet.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="\index.html">Dhananjay</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="\index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="\About.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"  href="\Dj.html">Dj.Dhanoo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="\Ragister.html">Ragister</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  More
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="\booking.html">Booking</a></li>
                  <li><a class="dropdown-item" href="\About.html">Aboutus</a></li>
                  <li><a class="dropdown-item" href="\blogs.html">blog</a></li>
                  <li><a class="dropdown-item" href="\project.html">project</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="\Social_media.html">Streaming</a></li>
                  <li><a class="dropdown-item" href="\achievement.html">Achievement</a></li>
                </ul>
              </li>
              
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>


    <header class="Hero">
      
      <h1 class="Hero-Heading">Hy! <span class="Hero-hilight"><blink> Dhananjay Sharma</blink> </span> Here</h1>
  
      <br>
      <img class="Hero-image" src="\static\undraw_feeling_proud_qne1.svg" />
    </header>


    <div class="accordion" id="accordionExample">
      <h1>Operating Systems</h1>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="True" aria-controls="collapseOne">
            Windows
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
             
            I've been using Windows 11 for the past two years, since it came pre-installed on my new laptop. Overall, I've found it to be a reliable and user-friendly operating system, 
            but there are a few things I dislike about it.One thing I like about Windows 11 is the sleek and modern user interface. I find it easy to navigate and customize to my liking. 
            I also appreciate the built-in security features, such as Windows Defender, which provides protection against viruses and malware.However, there are a few things I dislike about Windows 11. 
            For one, it can be slow to start up and shut down, especially when compared to other operating systems I've used in the past. Additionally, some of the default apps and programs that come with Windows 11, 
            such as Microsoft Edge and Cortana, are not as useful as I would like.Despite these drawbacks, I have found ways to overcome them. For example, I have installed third-party software to speed up my computer's startup time, 
            and I have customized the Start Menu to remove apps I don't use. I've also found that using keyboard shortcuts can help me work more efficiently in Windows 11.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            MAC 
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            
            I've been using Mac OS for the past years, and I love the seamless integration between software and hardware that Apple provides. The operating system is intuitive and user-friendly, and I appreciate the consistency in design and functionality across all of Apple's devices.
            One of my favorite features of Mac OS is the Spotlight search function, which allows me to quickly find and open files, launch applications, and perform web searches without ever leaving the keyboard. I also appreciate the robust security features, including the built-in firewall and privacy settings.
            However, there are a few things I don't like about Mac OS. For one, some of the default apps and programs that come with the operating system, such as Safari and Mail, are not as feature-rich as their third-party counterparts. Additionally, Apple's closed ecosystem can make it difficult to customize certain aspects of the operating system.
            Despite these drawbacks, I have found workarounds to make Mac OS work for me. For example, I use third-party apps like Chrome and Spark for web browsing and email management, respectively. I've also customized the dock and menu bar to include only the apps and shortcuts I use most frequently.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Ubuntu
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>
              I started using Ubuntu about a year ago, and I've been impressed with how easy it is to use and customize. The operating system is based on Linux, which means it's open-source and highly customizable, but Ubuntu provides a user-friendly interface that's accessible even for beginners.
              One of my favorite features of Ubuntu is the Ubuntu Software Center, which allows me to browse and install a wide range of software and applications with just a few clicks. I also appreciate the flexibility and control that comes with using a Linux-based operating system, such as the ability to easily switch between desktop environments and install custom themes.
              However, there have been a few challenges I've faced while using Ubuntu. For example, some hardware drivers and software programs may not be compatible with Linux, which can make it difficult to find alternatives or workarounds. Additionally, the learning curve for using Linux commands and terminal can be steep for beginners.
              Despite these challenges, I have found Ubuntu to be a reliable and efficient operating system for my needs. I've been able to customize it to my liking and find alternatives for any software programs that aren't available on Linux.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Linux
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>
              Free and Open-Source: Linux is a free and open-source operating system, which means that anyone can access its source code and modify it to suit their needs.Security: Linux is known for its security, and is less susceptible to viruses and malware than other operating systems.
              Customization: Linux provides users with a high degree of customization, enabling them to modify and tweak the operating system to fit their specific requirements.Reliability: Linux is highly reliable and stable, with fewer crashes and system failures than other operating systems.
              Large Software Library: Linux has a vast software library, providing users with access to a wide range of applications and tools.
              Learning Curve: Linux has a steeper learning curve than other operating systems, especially for users who are not familiar with command-line interfaces. Software Compatibility: Some software applications may not be compatible with Linux, which can limit its usefulness for certain tasks.
              Hardware Compatibility: Some hardware may not be compatible with Linux, which can limit the range of devices that can be used with the operating system. Support: While there is a vast Linux community online, finding reliable support for technical issues can be challenging.
              Limited Gaming Support: Linux has limited support for gaming compared to other operating systems, which can be a disadvantage for gamers.Overall, Linux offers many benefits in terms of security, customization, and reliability. However, users should be aware of potential challenges related to software and hardware compatibility, as well as the learning curve associated with using the operating system.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            CentOS-7
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>
              I've been using CentOS 7 for a few months now, primarily for server administration and web development purposes. CentOS is a Linux-based operating system that's designed for stability and security, making it a popular choice for enterprise-level servers.
              One of the strengths of CentOS 7 is its stability and security features. The operating system is based on Red Hat Enterprise Linux, which means it's thoroughly tested and supported for long-term use. Additionally, CentOS comes with built-in security features like firewalls and SELinux, which help protect against cyber attacks.
              However, CentOS 7 can be challenging to use for beginners, particularly those who are not familiar with Linux commands and terminal. Additionally, because CentOS is designed for stability, it may not have the most up-to-date software versions or features that some users may want.
              Despite these challenges, I have found CentOS 7 to be a reliable and secure operating system for server administration and web development. I've been able to customize it to my needs and
          </div>
        </div>
      </div>
    </div>

    <section class="Section of">
      <div class="containera">
          <h1>High-Level Languages</h1>
          {# Start Adding some button  #}
          <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse1" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">C both C++</button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Python</button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4">Java</button>
            
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse2" aria-expanded="false" aria-controls="multiCollapseExample5 multiCollapseExample6">HTML & Css</button>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample7" role="button" aria-expanded="false" aria-controls="multiCollapseExample7">Shell Scripting</a>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample8" role="button" aria-expanded="false" aria-controls="multiCollapseExample8">Perl</a>
          </p>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse1" id="multiCollapseExample1">
                <div class="card card-body">
                  <h5>C</h5>
                  You mentioned that you have knowledge of the C programming language, including several key concepts such as searching and sorting, string handling, pointers, working with arrays, working with functions, control flow statements, operators and expressions, variables, and data types.
                  In summary, your expertise in C programming includes an understanding of data structures and algorithms, memory management, and basic programming constructs. This knowledge allows you to create efficient and effective programs using C, which is a popular and powerful language used in a wide range of applications.
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse1" id="multiCollapseExample2">
                <div class="card card-body">
                  <h5>C++</h5>
                  I have knowledge of the C++ programming language, including its operators, control structures, and function overloading. & I am also familiar with object-oriented programming concepts such as classes and objects, inheritance, pointers, virtual functions, and polymorphism. In addition, you have experience with C programming language and understand call by reference and return by reference.
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multiCollapseExample3" id="multiCollapseExample3">
                <div class="card card-body">
                  I am familiar with the fundamental elements of the language and its syntax. I have a good understanding of control structures, data types, variables, functions, and object-oriented programming concepts.
                  In addition to these fundamental concepts, I have also  familiarity with Some specific libraries, Flask, SQLAlchemy,pyAMI.
                  Overall, based on My knowledge of Python and these specific libraries, I have a good foundation for building web applications and working with databases in Python. With further study and practice, 
                  I become proficient in these areas and develop the skills needed to create complex and scalable applications.
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multiCollapseExample4" id="multiCollapseExample4">
                <div class="card card-body">
                  I have a good understanding of Java and its key concepts. i am familiar with Java's object-oriented programming features, such as inheritance, polymorphism, and abstraction, as well as important language constructs such as data types, variables, methods, constructors, and modifiers.
                  and also understand the usage of the "static" and "final" keywords, as well as the concept of inner classes. You know how packages can help organize code into logical and modular units, and how encapsulation can help hide implementation details of a class and expose only necessary functionality.
                  Overall, My knowledge of Java seems to be comprehensive and i appear to have a good grasp of the fundamental concepts and features of the language that are important for developers to know.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="collapse multiCollapseExample7" id="multiCollapseExample7">
                <div class="card card-body">
                  I Am Beginner In Shell Scripting but I am fast learner.
                  I am enthusiasm for learning and a willingness to work hard to improve My skills. I can also emphasize any  skills I have, such as knowledge of Some programming languages or familiarity with the command line interface
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multiCollapseExample8" id="multiCollapseExample8">
                <div class="card card-body">
                Proficient in Perl programming language, with a solid understanding of its syntax and ability to comfortably work with it.
                </div>
              </div>
            </div>
            
            <div class="col">
              <div class="collapse multi-collapse2" id="multiCollapseExample5">
                <div class="card card-body">
                  <h5>HTML</h5>
                  HTML is the backbone of the web, and I experience developing two web-based apps using HTML demonstrates its power and versatility. With its flexibility, responsiveness, and accessibility, HTML is an excellent starting point for aspiring web developers.And I continue to explore new tools and technologies, I Am sure to find even more exciting ways to use HTML to create innovative and functional web applications
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse2" id="multiCollapseExample6">
                <div class="card card-body">
                  <h5>CSS</h5>
                  Cascading Style Sheets is a powerful tool for styling websites, and it can also be a great way to express Myself and My creativity. With CSS, I can create unique and visually appealing designs that reflect your personal style.
                  In conclusion, CSS is not just a tool for styling websites, but also a way to express Myself and My creativity. By using color, typography, animations, and other techniques, I can create designs that reflect My personality and stand out from the crowd. So I am  experiment with CSS, and see what amazing designs I can create!
                </div>
              </div>
            </div>
          </div>

          {# Ending Adding some button  #}
          </div>
      </div>
    </section>


    
    <section class="Section of" style="background-color: #a1a1aa" >
      <div class="containea container-center">
          <h1>Editors</h1>
          <p>Visual Studio Code</p>
          <p>Pycharm</p>
          <p>MATLAB</p>
          <p>Python IDLE</p>
          <p>Strawberry Perl</p>
          <p>Turbo C</p>
          
      </div>
    </section>
  <section class="Section">
    <div class="containera container-center">
        <h1>DATABASE</h1>
        <p>SQLAlchemy</p>
        <p>Molecular pathway analysis using KEGG</p>
        <p>ClustalW</p>
        <p>SWISSPROT</p>
        <p>PFAM</p>
        <p>CATH => Class, Architecture, Topology, and Homologous</p>
        <p>SCOP => Structural Classification of Proteins</p>
        <p>NCBI => National Center for Biotechnology Information</p>
        <p>EMBL => European Molecular Biology Laboratory</p>
        <p>PDB  => Protein Data Bank</p>
      </div>
  </section>
    
    
    <section class="Section of" style="background-color: #a1a1aa" >
      <div class="containea container-center">
          <h1>Deployment</h1>
          <p>Experienced in app deployment with a background 
            in deploying web apps using Nginx and attempting to use Apache. 
            While some challenges were encountered,like (local network post & edit httpd file in Direct server like Centos) this experience has provided 
            me with valuable insights and a deeper understanding 
            of app deployment processes</p>  
      </div>
    </section>


    <footer>

      <div class="footer-content">
          <h3>Dhananjay Sharma</h3>
          <p>Social Media Presence</p>
          <ul class="socials">
              
              <li><a href="https://www.linkedin.com/in/dhananjay-sharma-3b209a203"><i class="fa fa-linkedin-square"></i></a></li>
              <li><a href="https://github.com/xenophiliamee"><i class="fa fa-github"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCpIxQ7n1Vx0tzgQGHrECSeQ"><i class="fa fa-youtube"></i></a></li>
              <li><a href="https://www.instagram.com/creative__innerme/"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.facebook.com/dhananjay.sharma.7967"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/Dhananj68148058?t=cBPR39GAg_yi6SI326bIAw&s=09"><i class="fa fa-twitter"></i></a></li>
          </ul>
      </div>
      <div class="footer-bottom">
          <p>copyright &copy; <a href="\Dj.html">Dj.Dhanoo</a>  </p>
                  <div class="footer-menu">
                    <ul class="f-menu">
                      <li><a href="\index.html">Home</a></li>
                      <li><a href="\About.html">About</a></li>
                      <li><a href="booking.html">Signin</a></li>
                      <li><a href="\blogs.html">Blog</a></li>
                    </ul>
                  </div>
      </div>
    </footer>
  </body>
</html>