<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Projects</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="{{ url_for('static',filename='stylesheet.css') }}" rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Dhananjay</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarScroll"
          aria-controls="navbarScroll"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul
            class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
            style="--bs-scroll-height: 100px"
          >
            <li class="nav-item">
              <a class="nav-link" href="\index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="\About.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="\Dj.html">Dj.Dhanoo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="\Ragister.html">Ragister</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                More
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="\booking.html">Booking</a>
                </li>
                <li><a class="dropdown-item" href="\About.html">Aboutus</a></li>
                <li><a class="dropdown-item" href="\blogs.html">blog</a></li>
                <li>
                  <a class="dropdown-item" href="\project.html">project</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="\Social_media.html">Streaming</a></li>
                <li>
                  <a class="dropdown-item" href="\achievement.html"
                    >Achievement</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>

    <section class="Section of">
      <div class="containera container-center">
        <h1>The Bank ATM</h1>
        <p>
          The Bank ATM Project Start with Creating Bank Account.
          In Creating Process Add money in your Account.
          know Credit & Debit Money in your Bank Account by ATM.  
        </p>
        <a
          class="link link primary-link"
          href="https://github.com/xenophiliamee/ATM_project"
          >Bank ATM</a
        >
      </div>
    </section>

    <section class="Section of">
      <div class="containera container-center">
        <h1>Quiz Game</h1>
        <p>
          These game Asking You Seven Question And Given Score For Every Right
          Answer Get High Score And Win Game
        </p>
        <a
          class="link link primary-link"
          href="https://replit.com/@xenophiliamee/project-Game1?embed=1&output=1"
          >Play Quiz</a
        >
      </div>
    </section>

    <section class="Section of">
      <div class="containera container-center">
        <h1>My Portfolio Website</h1>
        <p>My First Step In Web Development</p>
        <a
          class="link link primary-link"
          href="https://github.com/xenophiliamee/Dhananjay_Sharma"
          >Website</a
        >
      </div>
    </section>

    <section class="Section of">
      <div class="containera container-center">
        <h1>My Portfolio Application</h1>
        <p>Its available on online Server Just Go And Cheak it out</p>
        <a
          class="link link primary-link"
          href="https://github.com/xenophiliamee"
          >Application</a
        >
      </div>
    </section>
    <section class="Section of">
      <div class="containera container-center">
        <h1>SWATI</h1>
        <p>In recognition of the wide ranging contributions by Women in Science, Secretary DBT announced an online portal dedicated to all Women Scientists funded by Department of Biotechnology. The portal will be called "SWATI" Portal (Science for Women: A Technology and Innovation Portal).
          The SWATI portal is intended to serve as a Gateway to view the Expertise and Contributions of Indian Women in Science, specially to mark the 75th year of Indian Independence, in celebration of Azadi Ka Amrit Mahotsav.</p>
        <a
          class="link link primary-link"
          href="https://github.com/xenophiliamee"
          >Portal</a
        >
      </div>
    </section>
    <section class="Section of">
      <div class="containera container-center">
        <h1>SemanticClimate</h1>
        <p>Most other subjects have highly heterogeneous data without semantics and this holds back the creation of knowledge. There is a pressing need to make knowledge about climate available to mitigate the effects of gaseous emissions. The most important resource is the UN’s IPCC reports, published about every five years. In 2021-2022 AR6, with 10,000 pages, was released. #semanticClimate is a group of young Indian science students who are developing tools and community protocols to make IPCC AR6 semantic.</p>
        <a
          class="link link primary-link"
          href="https://github.com/xenophiliamee"
          >Softwere</a
        >
      </div>
    </section>
    <section class="Section of">
      <div class="containera container-center">
        <h1>Pyamiimage</h1>
        <p>pyamiimage is a set of tools to extract semantic information from scientific diagrams.</p>
        <a
          class="link link primary-link"
          href="https://github.com/xenophiliamee/pyamiimage-jay"
          >Tool</a
        >
      </div>
    </section>    

    <section class="Section of">
      <div class="containera container-center">
        <h1>Covid-19</h1>
        <p>
          Comparative-Sequence-analysis-of-Beta-CoV-Genera-through-multiple-sequence-alignment-Clustal-W-
        </p>
        <a
          class="link link primary-link"
          href="https://github.com/xenophiliamee/Comparative-Sequence-analysis-of-Beta-CoV-Genera-through-multiple-sequence-alignment-Clustal-W-"
          >Research paper</a
        >
      </div>
    </section>

    <footer>
      <div class="footer-content">
        <h3>Dhananjay Sharma</h3>
        <p>Social Media Presence</p>
        <ul class="socials">
          <li>
            <a href="https://www.linkedin.com/in/dhananjay-sharma-3b209a203"
              ><i class="fa fa-linkedin-square"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/xenophiliamee"
              ><i class="fa fa-github"></i
            ></a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCpIxQ7n1Vx0tzgQGHrECSeQ"
              ><i class="fa fa-youtube"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/creative__innerme/"
              ><i class="fa fa-instagram"></i
            ></a>
          </li>
          <li>
            <a href="https://www.facebook.com/dhananjay.sharma.7967"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a
              href="https://twitter.com/Dhananj68148058?t=cBPR39GAg_yi6SI326bIAw&s=09"
              ><i class="fa fa-twitter"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>copyright &copy; <a href="\Dj.html">Dj.Dhanoo</a></p>
        <div class="footer-menu">
          <ul class="f-menu">
            <li><a href="\index.html">Home</a></li>
            <li><a href="\About.html">About</a></li>
            <li><a href="booking.html">Signin</a></li>
            <li><a href="\blogs.html">Blog</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
