!<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Successfully Appoinment</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static',filename='stylesheet.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="\static\stylesheet.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    </head>
    <body>

        <section class="Section">
            <div class="containera container-center">
                <h1><blink style="color:green">Successfully</blink><br/></h1>
                
                <br/>
                <p><B>ONE TIME CODE IS</B> </p>
                <p><B>{{code}}</B></p>
                <p>Dear User,</br> &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; 

                    I am writing to assure you that your appointment request has been received and will be submitted to our team as soon as possible. We understand that your time is valuable, and we will do our best to schedule your appointment at the earliest possible date and time.
                    
                    Our team is working hard to ensure that all requests are processed promptly and efficiently. We will keep you informed of the progress of your appointment request through email updates. You can expect to receive regular updates on the status of your appointment and any necessary details about your appointment.
                    
                    We take pride in our commitment to providing excellent customer service, and we are confident that you will be pleased with the level of attention and care we provide. If you have any questions or concerns at any time, please do not hesitate to contact us.
                    
                    Thank you for choosing our One and only Dj.Dhanoo for your appointment needs. We look forward to serving you soon.
                    </br>
                    </br>
                    Best regards,
                    </br>
                    </br>   
                    Dj.Dhanoo & Team</p>
                </br>
                
            </div>




            <footer>

                <div class="footer-content">
                    <h3>Dhananjay Sharma</h3>
                    <p>Social Media Presence</p>
                    <ul class="socials">
                        
                        <li><a href="https://www.linkedin.com/in/dhananjay-sharma-3b209a203"><i class="fa fa-linkedin-square"></i></a></li>
                        <li><a href="https://github.com/xenophiliamee"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCpIxQ7n1Vx0tzgQGHrECSeQ"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="https://www.instagram.com/creative__innerme/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/dhananjay.sharma.7967"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/Dhananj68148058?t=cBPR39GAg_yi6SI326bIAw&s=09"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
                <div class="footer-bottom">
                    <p>copyright &copy; <a href="\Dj.html">Dj.Dhanoo</a>  </p>
                            <div class="footer-menu">
                              <ul class="f-menu">
                                <li><a href="\index.html">Home</a></li>
                                <li><a href="\About.html">About</a></li>
                                <li><a href="booking.html">Signin</a></li>
                                <li><a href="\blogs.html">Blog</a></li>
                              </ul>
                            </div>
                </div>
              </footer>            


    
    
    
        </body>
</html>